.contact{
    background:#08111f;
}

.contact-grid{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:30px;

margin-top:70px;

}

.contact-card{

padding:35px;

text-align:center;

transition:.35s;

}

.contact-card svg{

color:#3b82f6;

margin-bottom:20px;

}

.contact-card h3{

margin-bottom:12px;

}

.contact-card p{

color:#94a3b8;

}

.contact-card:hover{

transform:translateY(-10px);

border-color:#3b82f6;

}

.location{

margin-top:60px;

display:flex;

justify-content:center;

align-items:center;

gap:12px;

font-size:1.1rem;

color:#94a3b8;

}

.location svg{

color:#3b82f6;

}

@media(max-width:900px){

.contact-grid{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:600px){

.contact-grid{

grid-template-columns:1fr;

}

}
