.evolution {
  background: #08111f;
}

.timeline {
  position: relative;
  max-width: 1100px;
  margin: 80px auto;
}

.timeline::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 4px;
  height: 100%;
  background: linear-gradient(
    to bottom,
    #3b82f6,
    #60a5fa
  );
  border-radius: 50px;
}

.timeline-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 90px;
}

.timeline-item.left {
  flex-direction: row;
}

.timeline-item.right {
  flex-direction: row-reverse;
}

.timeline-card {
  width: 43%;
  padding: 35px;
  transition: .35s ease;
}

.timeline-card:hover {
  transform: translateY(-8px);
}

.highlight {
  border: 1px solid #3b82f6;
  box-shadow: 0 20px 60px rgba(59,130,246,.15);
}

.timeline-year {
  display: inline-block;
  color: #3b82f6;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.timeline-card-icon {
  width: 60px;
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #0f172a;
  color: #3b82f6;

  border-radius: 15px;

  margin-bottom: 25px;

  transition: .35s ease;
}

.timeline-card:hover .timeline-card-icon {
  background: #3b82f6;
  color: white;
  transform: scale(1.1);
}

.timeline-card h3 {
  font-size: 1.7rem;
  margin-bottom: 18px;
}

.timeline-card p {
  color: #cbd5e1;
  line-height: 1.8;
  margin-bottom: 25px;
}

.timeline-icon {
  position: absolute;

  left: 50%;
  transform: translateX(-50%);

  width: 70px;
  height: 70px;

  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #111827;
  border: 3px solid #3b82f6;

  color: #3b82f6;

  z-index: 5;

  transition: .35s ease;
}

.timeline-item:hover .timeline-icon {
  background: #3b82f6;
  color: white;
  transform: translateX(-50%) scale(1.12);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tags span {
  padding: 8px 16px;
  border-radius: 25px;
  background: #0f172a;
  border: 1px solid rgba(255,255,255,.08);
  transition: .3s;
}

.tags span:hover {
  background: #3b82f6;
  border-color: #3b82f6;
}

.journey-ending {
  text-align: center;
  max-width: 850px;
  margin: 20px auto 0;
}

.journey-ending h3 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.journey-ending p {
  color: #94a3b8;
  line-height: 1.8;
  font-size: 1.1rem;
}

/* ============================= */

@media (max-width:900px){

.timeline::before{
left:35px;
transform:none;
}

.timeline-item,
.timeline-item.left,
.timeline-item.right{

flex-direction:row;

padding-left:95px;

}

.timeline-card{

width:100%;

}

.timeline-icon{

left:35px;

transform:none;

}

.timeline-item:hover .timeline-icon{

transform:scale(1.1);

}

}

@media (max-width:600px){

.timeline-card{

padding:25px;

}

.timeline-card h3{

font-size:1.4rem;

}

.timeline-icon{

width:60px;

height:60px;

}

.timeline-card-icon{

width:50px;

height:50px;

}

}